
<form [formGroup]="writeupform" class="writeupform">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Sub-title</mat-label>
        <input matInput formControlName="subTitle">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Link</mat-label>
        <input matInput formControlName="link">
    </mat-form-field>
    <button mat-button [disabled]="!writeupform.valid" type="submit" (click)="submit()">Submit</button>  
</form>
<div> {{writeupform.value | json }}</div>