.writeup-grid-list {
    margin: 0 10px 0 10px;
}

.writeup-card {
 width:100%;
 background-image: linear-gradient(to right, rgba(0,255,0,0), rgba(0,155,255,1)), url('../../../../assets/images/user-images/admin/default.png');
 background-position: center,right;
 background-size: cover, 50%;
 background-repeat: no-repeat;
}